<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Shoesterra</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<% if user_signed_in? %>
<div class="container admin-panel">
  <div class="row">
    <span class="label label-primary"><%= link_to "Изменить каталог", products_path %></span>
    <span class="label label-success"><%= link_to "Добавить товар", new_product_path %></span>
  <div class="pull-right">
    Вы вошли как: <%= current_user.email %>
  <span class="label label-danger" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Выйти"><%= link_to "", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-off" %></span>
  &nbsp;                                                                                     
  </div>
  </div>
</div>

<% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png', height: '80%', alt: "ShoesTerra"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= nav_link "Главная", root_path %></li>
        <li><%= nav_link "Каталог", catalog_path %></li>
        <li><%= nav_link "Клиенту", about_path %></li>
        <li><%= nav_link "Контакты", contacts_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<footer class="footer">
  <div class="container-fluid">
    <div class="col-md-3 footer-column"><h3>Логотип</h3></div>
    <div class="col-md-3 footer-column">
      <h3>Меню</h3>
      <ul>
        <li><%= link_to "Главная", root_path %></li>
        <li><%= link_to "Каталог", catalog_path %></li>
        <li><%= link_to "Клиенту", about_path %></li>
        <li><%= link_to "Контакты", contacts_path %></li>
      </ul>
    </div>
    <div class="col-md-3 footer-column">
      <h3>Телефоны</h3>
      <ul>
        <li>+375 (29) 123 45 67</li>
        <li>+375 (29) 123 45 67</li>
      </ul>
    </div>
    <div class="col-md-3 footer-column">
      <h3>Контакты</h3>
      <ul>
        <li>г. Минск ул. Уличная</li>
        <li>E-mail: random4405@gmail.com</li>
      </ul>
    </div>
    </div> 
  </div>
</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
